{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'tools/css/tools.css' %}">

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%endblock style%}
    <title> To-Act List </title>
</head>

{%block content%}
<body>
    <section id="tips">
        <div class="judul container col">
            <div class="row border-bottom">
                <h6 id="light">Act It</h6>
                <h6 id="normal">Now</h6>
            </div>
        </div>

        <div class="button container col">
            <button class="tips btn btn-primary mb-2" target=1>1</button>
            <button class="tips btn btn-primary mb-2" target=2>2</button>
            <button class="tips btn btn-primary mb-2" target=3>3</button>
            <button class="tips btn btn-primary mb-2" target=4>4</button>
            <button class="tips btn btn-primary mb-2" target=5>5</button>
            <button class="tips btn btn-primary mb-2" target=6>6</button>
        </div>

        <div class="bodyData container col">

            <div id="card1" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/1.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Plan Your Goals Wisely</h5>
                        <p id="text">
                            Everything is begun with motive and belief. 
                            Collecting intentions by listing every goal you want to achieve probably can lead you to realize those. 
                            <br><i>To-Act List</i> intends to accompany you!
                        </p>
                    </div>

                </div>
              </div>

              <div id="card2" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/2.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Stay Connected</h5>
                        <p id="text">
                            This hard situation might prevent you to meet others. 
                            Independence is great but living individually isn't. 
                            Technologies sustain you to stay connected. 
                            <br><i>Braincil on Action</i> is one of the solutions!
                        </p>
                    </div>

                </div>
              </div>

              <div id="card3" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/3.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Do Consistently while Experiencing yourself</h5>
                        <p id="text">
                            Sometimes, we think out loud whether we want to do the plans or not. 
                            Just try anything you feel right and consistency is needed! 
                            The more you try, the more you know what fits to you! 
                            If you stuck in a current situation, 
                            <br><i>QnA Braincil on Action</i> can help!
                        </p>
                    </div>

                </div>
              </div>

              <div id="card4" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/4.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Keep Being Motivated</h5>
                        <p id="text">
                            When you feel something does wrong to you, take a moment.
                            Remember all of your life purposes and don't mind to ask your friends that can be an expert in a while. 
                            Seeing other achievents may restore your motivations!
                        </p>
                    </div>

                </div>
              </div>

              <div id="card5" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/5.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Pray</h5>
                        <p id="text">
                            Making plans has been done. Doing those as maximum as we can has been too. 
                            Besides, praying is the most important thing. God will do the rest.
                        </p>
                    </div>

                </div>
              </div>

              <div id="card6" class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body row">

                    <div class="foto col">
                        <img id="foto1" src="{% static 'tools/img/6.png' %}">
                    </div>

                    <div class="text col">
                        <h5 id="judul">Finally Reach Your Goals without Forgetting Others</h5>
                        <p id="text">
                            It is nice to see and realize that we can reach our goals.
                            But life hasn't stopped. Time keeps running, earth keeps spinning, and we have to keep moving forward.
                            No matter how high our position is, we have to remember who we are. 
                        </p>
                    </div>

                </div>
              </div>

        </div>

    </section>
    <script src="{% static 'tools/javascript/tools.js' %}" type="text/javascript"></script>
</body>
{%endblock content%}
</html>