{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'tools/css/tools.css' %}">

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%endblock style%}
    <title> To-Act List </title>
</head>

{%block content%}
<body class="toactlist">
    <section id="toactlist">
      <div class="judul container col">
          <div class="row border-bottom">
              <h6 id="light">To-Act</h6>
              <h6 id="normal">List</h6>
          </div>
      </div>

        <div class="container col">
          <div class="Form">

            <div class="search">
              <input placeholder="Search Task" type="text" class="form-control" id="search">
            </div>
            
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">

                <div class="form-inline">

                  {%csrf_token%}
                  {%for field in form%}
                    {{field}}
                  {%endfor%}
                  
                  <input type="hidden" value="{{user.id}}" id="user"/>
                  <button id="submit" class="btn btn-primary mb-2">Submit</button>

                  <button type="button" class="btn btn-primary mb-2" id="ask-button" data-toggle="modal" data-target="#exampleModalCenter">
                    Delete All
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
              
                        <div class="modal-body">
                          <p> Are you sure want to delete all your tasks? </p>
                        </div>
                        <div class="modal-footer">
                          <button id="deleteall" data-dismiss="modal" class="btn btn-primary mb-2">Delete All</button>
                        </div>
              
                      </div>
                    </div>
                  </div>
                  <!--  -->

                </div>

              </div>
              
            </div>

          </div>

          <div class="Tabel">
            <table class="table">

              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">To-Act</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>

              <tbody class="toactlistTable">
                <!-- Isi di ajax -->
              </tbody>

            </table>
          </div>
          
        </div>
      </section>
      <script src="{% static 'tools/javascript/tools.js' %}" type="text/javascript"></script>
</body>
{%endblock content%}
</html>