{% extends 'base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{% static 'img' %}"></script>
<script src="{% static 'js/aboutus.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<title> About Us </title>
{%endblock style%}

{% block content %}
<section class="story-section" id="baseukuran">
    <h1 style="text-align: center;">Tentang Kami</h1>
    <div class="container">
        <div id="accordion">
            <div class="group">
                <h3> Farhan </h3>
                <div>
                    <img id="farhan" src="{% static 'img/farhan.png' %}" alt="fotofarhan" width="200" height="300">
                    <ul>
                    	<li> Nama Lengkap: Anis Farhan Itsnaini </li>
                    	<li> Nama Panggilan: Farhan </li>
                    	<li> Jurusan: Ilmu Komputer </li>
                    	<li> Angkatan: Maung 2019 </li>
                    	<li> Hobi: Menunda tugas sampai deadline </li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Icha </h3>
                <div>
                    <img id="icha" src="{% static 'img/icha.png' %}" alt="fotoicha" width="200" height="300">
                    <ul>
                        <li> Nama Lengkap: Annisa Devi Nurmalasari </li>
                        <li> Nama Panggilan: Icha </li>
                        <li> Jurusan: Ilmu Komputer </li>
                        <li> Angkatan: Maung 2019 </li>
                        <li> Hobi: Menonton Youtube </li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Julian </h3>
                <div>
                    <img id="julian" src="{% static 'img/julian.jpeg' %}" alt="fotojulian" width="200" height="275">
                    <ul>
                        <li> Nama Lengkap: Julian Fernando </li>
                        <li> Nama Panggilan: Julian </li>
                        <li> Jurusan: Ilmu Komputer </li>
                        <li> Angkatan: Maung 2019 </li>
                        <li> Hobi: Berenang dan bermain gitar </li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
            <div class="group">
                <h3> Mike </h3>
                <div>
                    <img id="mike" src="{% static 'img/mike.jpeg' %}" alt="fotomike" width="200" height="300">
                    <ul>
                        <li> Nama Lengkap: Michael Eliazer </li>
                        <li> Nama Panggilan: Mike </li>
                        <li> Jurusan: Ilmu Komputer </li>
                        <li> Angkatan: Quanta 2018 </li>
                        <li> Hobi: Menonton film dan mendengarkan musik </li>
                    </ul>
                    <button type="button" class="btn btn-primary up"> UP </button>
                    <button type="button" class="btn btn-primary down"> DOWN </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}