body{
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#navbarMatkul{
    background-color: #BDE0E2;
}

.navMatkul.row{
    margin-left: 100px;
    margin-right: 100px;
}

a h3.tulisanMatkul{
    margin-left: 31.8px;
    margin-right: 31.8px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
}

#curhatAkademik{
    background-color: white;
}

.curhat.row{
    justify-content: flex-end;
    margin-right: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.curhat.row button.btn.btn-primary.intabel{
    background-color:  #BDE0E2;
    border-radius: 20px;
    color: black;
    font-weight: lighter;
    border-color: #BDE0E2;
}

#fotoakun2{
    width: 80px;
    height: 80px;
}

#light{
    font-weight: lighter;
}

#bold{
    font-weight: bold;
}

#cardtitle{
    font-weight: bold;
    font-size: 15px;
}

.tulisanjudul.row{
    margin-top: 35px;
    text-align: center;
    margin-right: 5%;
    margin-left: 10px;
    margin-right: 5%;
}

#button11{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #B5E4E8;
    border-radius: 23.5px;
    color: white;
    border-color: transparent;
    margin-left: 20px;
}

.cardTitle.row{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}