#light{
    font-weight: lighter;
}

#normal{
    font-weight: normal;
}

.toactlist{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.judul.container.col{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
}

.container.col{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
}

.card.shadow.p-3.mb-5.bg-white.rounded{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.card-body{
    justify-content: center !important;
    align-items: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-inline{
    justify-content: center !important;
    align-items: center !important;
}

.form-control{
    border-radius: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

.btn.btn-primary.mb-2{
    margin-top: 7.5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #8DC2C8;
    border-color: white;
    border-radius: 20px;
}

th{
    border-color: #BDE0E2 !important;
    font-weight: 400;
    text-align: center;
}

td{
    font-weight: lighter;
    text-align: center;
}

.edit.btn.btn-primary.mb-2{
    background-color: #BDE0E2;
    border-color: white;
    border-radius: 20px;
}

.delete.btn.btn-primary.mb-2{
    background-color: #5A5A5A ;
    border-color: white;
    border-radius: 20px;
}

#submit:hover{
    opacity: 0.7;
}

#ask-button:hover{
    opacity: 0.7;
}

.Tabel{
    padding-bottom: 50px;
}

.search{
    padding-left: 480px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.button.container.col{
    text-align: center;
    padding-top: 50px;
}

.tips.btn.btn-primary.mb-2{
    margin-top: 7.5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #BDE0E2;
    border-color: white;
    border-radius: 50%;
}

.tips.btn.btn-primary.mb-2:hover{
    opacity: 0.5;
}

.text.col{
    text-align: left;
    justify-content: center;
}

.foto.col{
    text-align: center;
    justify-content: center;
}

#foto1{
    width: 277px;
    height: 251.27px;
}

.tips.btn.btn-primary.mb-2.active{
    opacity: 0.5;
}