{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'qna/css/question.css' %}">
    {%endblock style%}
    <title> Register </title>
</head>


<body>
    {%block content%}
    <section id="navbarMatkul">
      <div class="navMatkulCurhat col">
        <div class="navMatkul row">
          <a href="#">
            <h3 class="tulisanMatkul"> Matematika </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Fisika </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Kimia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Kimia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Biologi </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> IPS </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> PKN </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Indonesia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Inggris </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> IT </h3>
          </a>
        </div>
      </section>
      <section id="curhatAkademik">
        <div class="curhat row">
          <button class="btn btn-primary intabel" method="POST">Curhatan Siswa</button>
        </div>
      </section> 

      <section id="cardQuestion">
        <div class="container">
          <div class="col">
            {%if jawaban%}
                {%for j in jawaban%}
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <div class="cardTitle row">
                          <img id="fotoakun2" src="{{j.userjawab.profile.image.url}}" class="rounded-circle">
                          <div class="tulisanjudul row">
                            <h5 id="cardtitle" class="card-title">{{j.userjawab.first_name}} {{j.userjawab.last_name}}</h5>
                            <h5 id="cardtitle" class="card-title"> {{j.waktu}} </h5>
                          </div>
                        </div>
                        <div class="cardKeterangan col">
                          <p class="card-text">Pertanyaan:</p>
                          <p class="card-text">{{j.pertanyaan.pertanyaan}}</p>
                          <p class="card-text">Jawaban:</p>
                          <p class="card-text">{{j.jawaban}}</p>
                        </div>
                        <div class="cardButton row">

                          <a href="{%url 'qna:question'%}">
                            <button id="button11" class="btn btn-primary intabel" method="POST">Kembali</button>
                          </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                {%endif%}
                
          </div>
        </div>
      </section>
    {%endblock content%}
</body>

</html>