{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'qna/css/question.css' %}">
    <script type="text/javascript">
      $('#exampleModalCenter').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
    </script>
    {%endblock style%}
    <title> Register </title>
</head>


<body>
    {%block content%}
    <section id="navbarMatkul">
      <div class="navMatkulCurhat col">
        <div class="navMatkul row">
          <a href="#">
            <h3 class="tulisanMatkul"> Matematika </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Fisika </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Kimia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Kimia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Biologi </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> IPS </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> PKN </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Indonesia </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> Inggris </h3>
          </a>
          <a href="#">
            <h3 class="tulisanMatkul"> IT </h3>
          </a>
        </div>
      </section>
      <section id="curhatAkademik">
        <div class="curhat row">
          <button class="btn btn-primary intabel" method="POST">Curhatan Siswa</button>
        </div>
      </section> 

      <section id="cardQuestion">
        <div class="container">
          <div class="col">
            {%if pertanyaan%}
              {%for p in pertanyaan%}
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <div class="cardTitle row">
                          <img id="fotoakun2" src="{{p.usernanya.profile.image.url}}" class="rounded-circle">
                          <div class="tulisanjudul row">
                            <h5 id="cardtitle" class="card-title">{{p.usernanya.first_name}} {{p.usernanya.last_name}}</h5>
                            <h5 id="cardtitle" class="card-title"> {{p.matpel}} </h5>
                            <h5 id="cardtitle" class="card-title"> {{p.waktu}} </h5>
                          </div>
                        </div>
                        <div class="cardKeterangan col">
                          <p class="card-text">Pertanyaan:</p>
                          <p class="card-text">{{p.pertanyaan}}</p>
                        </div>
                        <div class="cardButton row">

                          <button type="button" id="button11" class="btn btn-primary intabel ask" id="ask-button" data-toggle="modal" data-target="#exampleModalCenter">
                            Jawab
                          </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Jawab...</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form action="{%url 'qna:question'%}" method="POST">
                                  {%csrf_token%}
                                  <div class="modal-body">
                                    {{form}}
                                    <input type="hidden" value="{{ p.id }}" name="p_id"/>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" method="POST" class="btn btn-primary">Save changes</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>

                          <a href="{%url 'qna:hasil' p.id%}">
                            <button id="button11" class="btn btn-primary intabel" method="POST">Lihat Hasil</button>
                          </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                {%endfor%}
              {%endif%}
          </div>
        </div>
      </section>
    {%endblock content%}
</body>

</html>