{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
    {%endblock style%}
    <title> Register </title>
</head>


<body>
    {%block content%}
    <section id="register">
        <div class="middle">
            <div id="cardcoll" class="row">
                <div class="col-sm-6">
                  <div id="form" class="card">
                    <div class="card-body">
                        <div class="cardtitle row">
                            <h5 id="bold" class="card-title"> Sign in Here!!! </h5>
                            
                        </div>
                        <form action="/account/loginUser/" method="POST">
                            <div class="inputform">
                                {% csrf_token %}
                                {%for field in form%}
                                    <p> {{field}} </p>
                                {%endfor%}
                                
                                {%if messages%}
                                  {%for message in messages%}
                                      <p id="message"> {{message}} </p>
                                  {%endfor%}
                                {%endif%}
                            </div>
                            <button class="btn btn-primary intabel" method="POST">Sign In</button>
                        </form>
                        <a href="{%url 'account:register'%}">
                          <p id="dont"> Don't have any account?</p>
                        </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div id="gambar" class="card">
                    <div class="card-body">
                        <h3 class="welcome"> WELCOME BACK !! </h3>
                        <h5 class="welcome"> Enter your ID and <br> Password to continue</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <section id="background">
        <img class="background" src="{% static 'account/img/background.png' %}" alt="BraincilOnAction">
      </section>
    {%endblock content%}
</body>

</html>