body{
    
}

.text1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: #000000;
    background: #E3FDFD;
    border-radius: 25px;
    padding: 10px;
}

.text2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
}

.text3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

hr{
    border-width:0;
    width:90%;
    height:1px;
    color:black;
    background-color:black;
}

.card{
    border: 1px solid black;
    padding: 10px;
    box-shadow: 3px 3px 1px grey;
    border-radius: 10px;
    width: 30rem;
    margin: 5px;
}

.btn1{
    border-radius: 15px;
    padding: 10px;
    background-color: #71C9CE;
    border: none;
}

.c1{
    padding: 10px;
    width: 30rem;;
    margin: 20px;
    background-color: #E3FDFD;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
}